.page-header {
    background-image: none;
    background-color: rgb(177, 198, 223);
    color: white;

}

body {
    background-color: lightblue;
}

.navbar-inverse {
    background-color: rgb(117, 71, 190);
}